/build/play/Analysis-00.toc
/build/play/base_library.zip
/build/play/EXE-00.toc
/build/play/PKG-00.pkg
/build/play/PKG-00.toc
/dist/play.exe
/build/play/play.exe.manifest
/play.spec
/build/play/PYZ-00.pyz
/build/play/PYZ-00.toc
/build/play/warn-play.txt
/build/play/xref-play.html
